@import "./media-queries.css";
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&&family=Space+Grotesk&display=swap");
/**********************************/
/* Colors Used */
/**********************************/
/* Background Color #DBCDBF #FAF9F6*/
/* Fonts Color #333 */
/* Border Color #403124 */

/**********************************/
/* Basics */
/**********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: #dbcdbf;

  color: #333;
}

/**********************************/
/* NavBar Component */
/**********************************/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-family: Space Grotesk;
  /* font-family: Delius; */
  /* font-family: Edu NSW ACT Cursive; */
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.nav-list-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

.nav-list-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #dbcdbf;
  padding: 6rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: auto;
}

.modal-list {
  list-style-type: none;
  font-size: 2.75rem;
  line-height: 2.5;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-list a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

/**********************************/
/* Home Component */
/**********************************/
.home {
  margin: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.home-text {
  padding: 1.2rem;
  max-width: 600px;
}

.home-headline {
  font-size: 5.2rem;
  letter-spacing: -1.4px;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.home-introduction {
  font-size: 2.9rem;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.posh-tag {
  font-size: 2.4rem;
  /* text-align: right; */
}

.home img {
  width: 100%;
  max-width: 500px;
  height: auto;
  flex-shrink: 1;
  border: 8px solid #403124;
  transition: all 0.3s ease;
  /* border-radius: 8px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/**********************************/
/* Bestsellers Component */
/**********************************/

.bestsellers-headline {
  font-family: Space Grotesk;
  font-size: 3rem;
  margin-left: 5rem;
  text-decoration-line: underline;
}

.bestsellers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 60px;
  margin-bottom: 80px;
  padding: 6rem;
}

.chair-card {
  background-color: #faf9f6;

  transition: transform 0.3s ease;
  /* transform-origin: center center; */
  transform-origin: top left;
}

.chair-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-contents {
  padding: 32px;
  /* border-top: 1px solid black; */
  /* border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; */
}

.card-title {
  font-size: 22px;
  margin-bottom: 16px;
}

.card-list {
  list-style: none;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 18px;
}

.card-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #0891b2;
}

.bestsellers-section img {
  width: 100%;
  cursor: pointer;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 48px; */
  font-size: 24px;
}
.btn--small {
  background-color: #0891b2;
  color: #fff;
  font-size: 16px;
  padding: 9px 27px;
  border-radius: 50px;
  cursor: pointer;
}
