@import "./media-queries.css";
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&&family=Space+Grotesk&display=swap");
/**********************************/
/* Colors Used */
/**********************************/
/* Background Color #DBCDBF #FAF9F6*/
/* Fonts Color #333 */
/* Border Color #403124 #f7f6f5 */
/* Icon Stroke Color #769c1f */
/* Testimonials #c3cc9c#b3cecd#8e9abe#d3d4ea#caa1ba#c4d5d8 */
/* Query Colors Used For Testing #99ecda */

/**********************************/
/* Basics */
/**********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: #dbcdbf;

  color: #333;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

/**********************************/
/* NavBar Component */
/**********************************/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-family: Space Grotesk;
  /* font-family: Delius; */
  /* font-family: Edu NSW ACT Cursive; */
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.nav-list-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

.nav-list-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #dbcdbf;
  padding: 6rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: auto;
}

.modal-list {
  list-style-type: none;
  font-size: 2.75rem;
  line-height: 2.5;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  /* text-align: center; */
}

.nav-list li a {
  display: flex;
  gap: 4px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  /* stroke: #dbcdbf; */
}

.nav-list button {
  cursor: pointer;
  background: #769c1f;
  color: #333;
  border-radius: 22px;
  padding: 0.2rem 2.4rem;
  outline: none;
  border: none;
}

.cart-icon {
  width: 24px;
  height: 24px;
}

.nav-list a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.nav-list a:hover {
  /* text-decoration: underline dotted; */
  font-weight: 600;
}

/**********************************/
/* Home Component */
/**********************************/
.section-home {
  /* margin: 8rem 0 12rem 0;  keep or remove? */
  margin: 3rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  padding: 2rem;
}

.home-text {
  /* padding: 1.2rem; */
  padding: 2rem;
  /* width: 100%; */
  max-width: 600px;
  flex: 1;
}

.home-headline {
  /* font-size: 8rem; */
  font-size: clamp(3.6rem, 6vw, 8rem);
  letter-spacing: -1.4px;
  /* line-height: 6.8rem; */
  line-height: clamp(4.5rem, 5.7vw, 6.8rem);
  margin-bottom: 2rem;
}

.home-introduction {
  /* font-size: 2.9rem; */
  font-size: clamp(2rem, 2.5vw, 2.9rem);
  font-weight: 300;
  /* line-height: 3.5rem; */
  line-height: clamp(2.8rem, 3vw, 3.5rem);
  margin-bottom: 1.5rem;
}

.posh-tag {
  font-size: 2.4rem;
}

.home-img {
  flex: 1;
  max-width: 500px;
  /* border: 8px solid #f7f6f5; */
  border: 8px solid #333;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.home-img img {
  display: block;
  width: 100%;
}

/**********************************/
/* Bestsellers Component */
/**********************************/
.dkbg {
  background-color: #333;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-shadow: 0 -20px 40px -20px rgba(0, 0, 0, 0.7),
    0 20px 40px -20px rgba(0, 0, 0, 0.7);
}

.bestsellers-headline,
.stock-headline {
  color: #dbcdbf;
  font-family: Space Grotesk;
  font-size: 6rem;
  padding-top: 4rem;
  text-align: center;
}

.section-bestsellers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 6rem 8rem 12rem 8rem;
}

.section-bestsellers img {
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.chair-card {
  width: 300px;
  flex: 0 0 auto;
  /* width: 33.33%; */
  background-color: #faf9f6;
  transition: transform 0.3s ease;
  transform-origin: top left;
  border-radius: 32px;
}

.chair-card:hover {
  transform: scale(1.03);
}

.card-contents {
  padding: 2.2rem 2.2rem 4rem 2.2rem;
}

.card-title {
  font-size: 2.2rem;
  margin-bottom: 16px;
}

.card-list {
  list-style: none;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 18px;
}

.card-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #769c1f;
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.btn--small {
  background-color: #769c1f;
  color: #fff;
  font-size: 16px;
  padding: 9px 27px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

/* Bestseller Carousel for Mobile Widths */
.bestseller-track {
  display: flex;
  /* gap: 2rem; */
  overflow-x: visible;
}

/* Modal Overlay Styles for Fullsize Image Display */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

/**********************************/
/* Our Chairs Component */
/**********************************/
.section-our-chairs {
  padding: 4rem 6rem;
  margin-bottom: 4rem;
}

.our-chairs-headline {
  color: #333;
  font-family: Space Grotesk;
  /* text-decoration-line: underline; */
  font-size: 6rem;
  padding-top: 4rem;
  text-align: center;
  /* margin-left: 5rem; */
}

.our-chairs-fact {
  padding: 2rem;
}
.our-chairs-subheadline {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.our-chairs-text {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.5;
}

/**********************************/
/* Current Stock Component */
/**********************************/
.carousel-window {
  display: flex;
  gap: 4rem;
  padding: 3rem 3rem;
  /* overflow: hidden; */
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  /* max-width: 1100px; */
  max-width: 1020px;
  scrollbar-width: none;
  margin: 0 auto;
}

.carousel-window::-webkit-scrollbar {
  display: none;
}

.section-current-stock {
  display: flex;
  align-items: center;
}

.stock-card {
  /* width: 320px; */
  width: 300px;
  background-color: #faf9f6;
  transition: transform 0.3s ease;
  transform-origin: top left;
  border-radius: 32px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
}

.stock-card img {
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.stock-card-contents {
  /* padding: 32px; */
  /* padding: 2.2rem; */
  padding: 2.2rem 2.2rem 4rem 2.2rem;
}

.stock-card-title {
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  /* margin-bottom: 1.4rem; */
}

.stock-card-list {
  list-style: none;
  font-size: 16px;
  /* font-size: 14px; */
  line-height: 2.5;
  margin-bottom: 18px;
}

.stock-card-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stock-card-list .icon {
  font-size: 2.4rem;
  stroke: #769c1f;
  /* margin-right: 1rem; */
}

.stock-scroll-btns {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0 6rem 0;
}

.stock-btn button {
  padding: 1rem 4rem;
  background-color: transparent;
  border: 3px solid #dbcdbf;
  color: #dbcdbf;
  border-radius: 22px;
}

.stock-btn-left,
.stock-btn-right {
  background-color: transparent;
  color: #dbcdbf;
}

.stock-btn button {
  cursor: pointer;
}

/**********************************/
/* Testimonial Component */
/**********************************/
.our-customers-headline {
  color: #333;
  font-family: Space Grotesk;
  font-size: 6rem;
  padding-top: 4rem;
  text-align: center;
}

.section-testimonial {
  display: flex;
  gap: 8rem;
  padding: 6rem 4rem;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.testimonial:nth-child(even) {
  flex-direction: row-reverse;
}

.customer-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.customer-quote {
  background-color: #f7f6f580;
  color: #333;
  font-size: 2.2rem;
  border-radius: 32px;
  padding: 2rem;
  line-height: 1.4;
  max-width: 40ch;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customer-img-1 {
  border: 4px solid #c3cc9c;
}

.customer-quote-1 {
  background-color: #c3cc9c;
}

.customer-img-2 {
  border: 4px solid #b3cecd;
}

.customer-quote-2 {
  background-color: #b3cecd;
}

.customer-img-3 {
  border: 4px solid #8e9abe;
}

.customer-quote-3 {
  background-color: #8e9abe;
}

.customer-img-4 {
  border: 4px solid #d3d4ea;
}

.customer-quote-4 {
  background-color: #d3d4ea;
}

.customer-img-5 {
  border: 4px solid #caa1ba;
}

.customer-quote-5 {
  background-color: #caa1ba;
}

.customer-img-6 {
  border: 4px solid #c4d5d8;
}

.customer-quote-6 {
  background-color: #c4d5d8;
}

/**********************************/
/* Footer Component */
/**********************************/
.footer {
  padding: 8rem;
}
