@import "./media-queries.css";
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&&family=Space+Grotesk&display=swap");
/**********************************/
/* Colors Used */
/**********************************/
/* Background Color #DBCDBF #FAF9F6*/
/* Fonts Color #333 */
/* Border Color #403124 #f7f6f5 */

/**********************************/
/* Basics */
/**********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: #dbcdbf;

  color: #333;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

/**********************************/
/* NavBar Component */
/**********************************/

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-family: Space Grotesk;
  /* font-family: Delius; */
  /* font-family: Edu NSW ACT Cursive; */
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.nav-list-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

.nav-list-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #dbcdbf;
  padding: 6rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: auto;
}

.modal-list {
  list-style-type: none;
  font-size: 2.75rem;
  line-height: 2.5;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 2.2rem;
  /* text-align: center; */
}

.nav-list a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.nav-list a:hover {
  /* text-decoration: underline dotted; */
  font-weight: 600;
}

/**********************************/
/* Home Component */
/**********************************/
.container-home {
  margin: 8rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 8rem; */
  gap: clamp(2.4rem, 6.5vw, 8rem);
  padding: 2rem;
}

.home-text {
  padding: 1.2rem;
  /* width: 100%; */
  max-width: 600px;
  flex: 1;
}

.home-headline {
  /* font-size: 8rem; */
  font-size: clamp(3.6rem, 6vw, 8rem);
  letter-spacing: -1.4px;
  /* line-height: 6.8rem; */
  line-height: clamp(4.5rem, 5.7vw, 6.8rem);
  margin-bottom: 2rem;
}

.home-introduction {
  /* font-size: 2.9rem; */
  font-size: clamp(2rem, 2.5vw, 2.9rem);
  font-weight: 300;
  /* line-height: 3.5rem; */
  line-height: clamp(2.8rem, 3vw, 3.5rem);
  margin-bottom: 1.5rem;
}

.posh-tag {
  font-size: 2.4rem;
}

.home-img {
  flex: 1;
  max-width: 500px;
  border: 8px solid #f7f6f5;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.home-img img {
  display: block;
  width: 100%;
}

/**********************************/
/* Bestsellers Component */
/**********************************/
.dkbg {
  background-color: #333;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.bestsellers-headline {
  font-family: Space Grotesk;
  text-decoration-line: underline;
  font-size: 3rem;
  margin-left: 5rem;
}

.container-bestsellers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 6rem;
}

.chair-card {
  width: 320px;
  background-color: #faf9f6;
  transition: transform 0.3s ease;
  /* transform-origin: center center; */
  transform-origin: top left;
  border-radius: 32px;
}

.chair-card:hover {
  transform: scale(1.03);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); */
}

.card-contents {
  padding: 32px;
}

.card-title {
  font-size: 22px;
  margin-bottom: 16px;
}

.card-list {
  list-style: none;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 18px;
}

.card-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #333;
}

.bestsellers-section img {
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.btn--small {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 9px 27px;
  border-radius: 50px;
  cursor: pointer;
}
