/* /////////////////////////////// */
/* LARGE - 🧮 UNDER 1200px */
/* /////////////////////////////// */
@media (max-width: 1199px) {
  body {
    background-color: #e2f10e;
  }

  /* Home Section */
  .section-home {
    gap: 6rem;
    padding: 2rem;
  }

  .home-text {
    padding: 2.5rem;
  }

  .home-headline {
    font-size: 5.4rem;
  }

  .home-introduction {
    font-size: 3.4rem;
  }

  /* Bestsellers Section */
  .section-bestsellers {
    flex-direction: row;
  }

  .bestsellers-inner {
    max-width: 800px;
  }

  .slider-track {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  .slider-dots {
    display: none;
  }

  .chair-card {
    width: 280px;
  }

  /* Current Stock Section */
  .carousel-window {
    max-width: 916px;
    gap: 2rem;
  }

  .stock-card {
    width: 280px;
  }

  .stock-card-contents {
    padding: 2.6rem;
  }

  .stock-card-list {
    font-size: 1.4rem;
  }
}

/* /////////////////////////////// */
/* MEDIUM - 💻 UNDER 1024px */
/* /////////////////////////////// */
@media (max-width: 1023px) {
  body {
    background-color: #99ecda;
  }

  /* Nav Section */
  .nav-list {
    font-size: 1.4rem;
  }

  /* Home Section */
  .section-home {
    flex-direction: row;
    gap: 4.5rem;
  }

  .home-text {
    padding: 1rem;
  }

  .home-headline {
    font-size: 4rem;
  }

  .home-introduction {
    font-size: 2.6rem;
    line-height: 1.2;
  }

  .posh-tag {
    font-size: 2.2rem;
  }

  /* Bestsellers Section */
  .section-bestsellers {
    flex-direction: row;
  }

  .bestsellers-inner {
    padding: 0 1rem 6rem 1rem;
  }

  .bestsellers-headline,
  .stock-headline {
    font-size: 4rem;
  }

  .slider-track {
    gap: 2rem;
  }

  .chair-card {
    width: 240px;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-list {
    font-size: 1.4rem;
  }

  .slider-dots {
    display: none;
  }

  /* Our Chairs Section */
  .our-chairs-headline {
    font-size: 4rem;
  }

  .our-chairs-subheadline {
    font-size: 2.2rem;
  }

  /* Current Stock Section */
  .carousel-window {
    max-width: 804px;
    gap: 2rem;
  }

  .stock-card {
    width: 245px;
  }

  .stock-card-contents {
    padding: 2rem;
  }

  .stock-card-title {
    font-size: 1.8rem;
  }

  .stock-card-list {
    font-size: 1.2rem;
  }

  .stock-btn button {
    padding: 0.8rem 2.2rem;
  }

  /* Our Customers Section */
  .our-customers-headline {
    font-size: 4rem;
  }

  .section-testimonial {
    padding: 3rem 2rem;
    gap: 4rem;
  }

  .testimonial {
    padding: 2.2rem;
  }

  .customer-img {
    width: 140px;
    height: 140px;
  }

  .customer-quote {
    font-size: 1.6rem;
  }
}

/* /////////////////////////////// */
/* SMALL - 📟 UNDER 768px */
/* /////////////////////////////// */
@media (max-width: 870px) {
  body {
    background-color: #ae9bff;
  }

  /* Home Section */
  .section-home {
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
  }

  .home-text {
    padding: 3rem;
  }

  .home-headline {
    font-size: 5.4rem;
    text-align: center;
  }

  .home-introduction {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .posh-tag {
    font-size: 2.2rem;
  }

  .home-img {
    max-width: 380px;
  }

  /* Bestsellers Section */
  .bestsellers-inner {
    padding: 0 1rem 6rem 1rem;
  }

  .section-bestsellers {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    gap: 2rem;
  }

  .slider-track {
    max-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* transition: transform 0.3s ease-in-out; */
  }

  .slider-track::-webkit-scrollbar {
    display: none;
  }

  .chair-card {
    scroll-snap-align: center;
    max-width: 300px;
  }

  .chair-card:hover {
    transform: none;
  }

  .slider-dots {
    display: flex;
    gap: 2rem;
  }

  .slider-dots button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    background-color: #f0cdb9;
  }

  .slider-dots .dot.active {
    background-color: #769c1f;
  }

  /* Our Chairs Section */
  .our-chairs-subheadline {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .our-chairs-text {
    font-size: 2rem;
  }

  /* TESTIMONIAL */
  .section-testimonial {
    flex-direction: column;
    gap: 0;
  }

  .testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 2rem;
  }

  .testimonial:nth-child(even) {
    flex-direction: row-reverse;
  }

  .customer-group-2 .testimonial:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .customer-group-2 .testimonial:nth-child(even) {
    flex-direction: row;
  }

  .customer-img {
  }
}

/* /////////////////////////////// */
/* XTRA SMALL 📱 - UNDER 480px */
/* /////////////////////////////// */
@media (max-width: 479px) {
  body {
    background-color: #f0cdb9;
  }

  /* Home Section */
  .section-home {
    flex-direction: column;
    gap: 2rem;
  }

  .home-text {
    padding: 2.4rem;
  }

  .home-headline {
    font-size: 4.6rem;
    letter-spacing: -1.9px;
    line-height: 1;
  }

  .home-introduction {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  /* Bestsellers Section */
}
