/* /////////////////////////////// */
/* XTRA SMALL 📱 - UNDER 480px */
/* /////////////////////////////// */
@media (min-width: 479px) {
  body {
    background-color: #f0cdb9;
  }

  /* Home Section */
  .section-home {
    flex-direction: column;
    gap: 2rem;
  }

  .home-text {
    padding: 2.4rem;
  }

  .home-headline {
    font-size: 4.6rem;
    letter-spacing: -1.9px;
    line-height: 1;
  }

  .home-introduction {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
}

/* /////////////////////////////// */
/* SMALL - 📟 UNDER 768px */
/* /////////////////////////////// */
@media (min-width: 767px) {
  body {
    background-color: #ae9bff;
  }

  /* Home Section */
  .section-home {
    flex-direction: row;
  }

  .home-headline {
    font-size: 4.6rem;
  }

  .home-text {
    padding: 2.4rem;
  }

  .home-introduction {
    font-size: 2.7rem;
    line-height: 1.4;
  }

  .posh-tag {
    font-size: 2.4rem;
  }
}

/* /////////////////////////////// */
/* MEDIUM - 💻 UNDER 1024px */
/* /////////////////////////////// */
@media (min-width: 1023px) {
  body {
    background-color: #99ecda;
  }

  .section-home {
    flex-direction: row;
    gap: 4.5rem;
  }

  .home-text {
    padding: 2rem;
  }

  .home-headline {
    font-size: 6rem;
  }

  .home-introduction {
    font-size: 3rem;
    line-height: 1.2;
  }

  .posh-tag {
    font-size: 2.6rem;
  }
}

/* /////////////////////////////// */
/* LARGE - 🧮 UNDER 1200px */
/* /////////////////////////////// */
@media (min-width: 1199px) {
  body {
    background-color: #dbcdbf;
  }

  .section-home {
    gap: 6rem;
  }

  .home-text {
    padding: 2.5rem;
  }

  .home-headline {
    font-size: 6.4rem;
  }

  .home-introduction {
    font-size: 3.6rem;
  }
}
