/* /////////////////////////////// */
/* LARGE - UNDER 1200px */
/* /////////////////////////////// */
@media (max-width: 1199px) {
}

/* /////////////////////////////// */
/* MEDIUM - UNDER 1024px */
/* /////////////////////////////// */
@media (max-width: 1023px) {
  body {
    background-color: #ffc400;
  }

  /* NAVBAR */
  .nav-list li {
    font-size: 2rem;
  }

  .nav-icon {
    display: none;
  }

  /* HOME */
  .container-home {
    /* flex-direction: column; */
    gap: 4rem;
  }

  .home-headline {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -1.8px;
  }

  .home-introduction {
    font-size: 2.7rem;
    line-height: 2.6rem;
    min-width: 480px;
  }

  .home-img {
    max-width: 450px;
    min-width: 350px;
  }

  /* BESTSELLERS */
  .card-contents {
    padding: 2.4rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-list {
    font-size: 1.4rem;
  }

  .chair-price {
    font-size: 2.2rem;
  }

  .btn--small {
    font-size: 1.4rem;
  }
}

/* /////////////////////////////// */
/* SMALL - UNDER 768px */
/* /////////////////////////////// */
@media (max-width: 767px) {
  body {
    background-color: #769c1f;
  }

  .nav-list {
    display: none;
  }

  /* HOME */
  .home {
    flex-direction: column;
    gap: 4rem;
  }

  .home-text {
    padding: 0;
  }

  .home-introduction {
    min-width: 350px;
  }

  .home img {
    width: 100%;
    overflow: hidden;
    /* max-width: 300px;
    min-width: 300px; */
  }

  /* BESTSELLERS */
  .container-bestsellers {
    flex-direction: column;
    gap: 3rem;
  }

  .chair-card:hover {
    transform: none;
  }

  /* CURRENT STOCK */
  .carousel-window {
    max-width: 360px;
  }

  /* TESTIMONIAL */
  .section-testimonial {
    flex-direction: column;
    gap: 0;
  }

  .testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .testimonial:nth-child(even) {
    flex-direction: row-reverse;
  }

  .customer-group-2 .testimonial:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .customer-group-2 .testimonial:nth-child(even) {
    flex-direction: row;
  }
}

/* /////////////////////////////// */
/* XTRA SMALL - UNDER 480px */
/* /////////////////////////////// */
@media (max-width: 479px) {
}
