/* /////////////////////////////// */
/* LARGE - 🧮 UNDER 1200px */
/* /////////////////////////////// */
@media (max-width: 1199px) {
  body {
    background-color: #dbcdbf;
  }

  /* Home Section */
  .section-home {
    gap: 6rem;
    padding: 2rem 2rem 6rem 2rem;
  }

  .home-text {
    padding: 2.5rem;
  }

  .home-headline {
    font-size: 5.4rem;
  }

  .home-introduction {
    font-size: 3.4rem;
  }

  /* Bestsellers Section */
  .section-bestsellers {
    flex-direction: row;
  }

  .slider-track {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  .slider-dots {
    display: none;
  }
}

/* /////////////////////////////// */
/* MEDIUM - 💻 UNDER 1024px */
/* /////////////////////////////// */
@media (max-width: 1023px) {
  body {
    background-color: #99ecda;
  }

  .section-home {
    flex-direction: row;
    gap: 4.5rem;
  }

  .home-text {
    padding: 2rem;
  }

  .home-headline {
    font-size: 5rem;
  }

  .home-introduction {
    font-size: 3rem;
    line-height: 1.2;
  }

  .posh-tag {
    font-size: 2.6rem;
  }

  /* Bestsellers Section */
  .section-bestsellers {
    flex-direction: row;
  }

  .slider-dots {
    display: none;
  }
}

/* /////////////////////////////// */
/* SMALL - 📟 UNDER 768px */
/* /////////////////////////////// */
@media (max-width: 767px) {
  body {
    background-color: #ae9bff;
  }

  /* Home Section */
  .section-home {
    flex-direction: row;
  }

  .home-headline {
    font-size: 4.4rem;
  }

  .home-text {
    padding: 2.4rem;
  }

  .home-introduction {
    font-size: 2.7rem;
    line-height: 1.4;
  }

  .posh-tag {
    font-size: 2.4rem;
  }

  /* Bestsellers Section */
  .section-bestsellers {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* padding: 2rem; */
    gap: 2rem;
  }

  .slider-track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .slider-dots {
    display: flex;
    gap: 2rem;
  }

  .slider-dots button {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    background-color: #f0cdb9;
  }

  .slider-dots .dot.active {
    background-color: #769c1f;
  }

  /* TESTIMONIAL */
  .section-testimonial {
    flex-direction: column;
    gap: 0;
  }

  .testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .testimonial:nth-child(even) {
    flex-direction: row-reverse;
  }

  .customer-group-2 .testimonial:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .customer-group-2 .testimonial:nth-child(even) {
    flex-direction: row;
  }
}

/* /////////////////////////////// */
/* XTRA SMALL 📱 - UNDER 480px */
/* /////////////////////////////// */
@media (max-width: 479px) {
  body {
    background-color: #f0cdb9;
  }

  /* Home Section */
  .section-home {
    flex-direction: column;
    gap: 2rem;
  }

  .home-text {
    padding: 2.4rem;
  }

  .home-headline {
    font-size: 4.6rem;
    letter-spacing: -1.9px;
    line-height: 1;
  }

  .home-introduction {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  /* Bestsellers Section */
}
